#box
    .box
        border: 2px solid #3e77a5
        width: 175px
        height: 175px
        background-color: #486c9e
        .minibox
            margin: 32px 33px
            width: 98px
            height: 98px
            background-color: #233d70
            transition: 1s
            &:hover
                border: 1px solid #233d70
                background-color: #233d70
                width: 120px
                height: 120px
    h1
        font-size: 15px
        color: #ffff
        padding: 37px 35px
        font-size: 20px
