#button
    .box
        .btn
            border: 3px solid #8f4f4f
            width: 170px
            height: 90px
            background-color: #7b566e
            h1
                color: #ffff
        &:hover
            .btn
                background-color: #32213a
                cursor: pointer
                transition: 1s
