#overflow
    .box
        .minibox
            width: 100px
            height: 100px
            background-color: #89620fc3
            border: 85px solid #836627
            border-radius: 85px
            h2
                color: #ffff
                font-size: 27px
                margin: -12px -18px
            &:hover
                border-radius: 29px
                transition: 1s
